<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="/assets/angular.js"></script>
<body>
<form ng-app="MyApp" ng-controller="MyController">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="vm.user.email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="vm.user.password">
    </div>
    <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile" ng-model="vm.user.file">
        <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="vm.user.checked"> Check me out
        </label>
    </div>
    <div >
        <button type="submit" class="btn btn-default" ng-click="clickAction()">Submit</button></div>
</form>
</body>
<script type="text/javascript">
    var app = angular.module('MyApp', [])
    app.controller('MyController', function ($scope) {
       $scope.clickAction = function () {
                var x = 0;
        }
    });
</script>
</html>